version: '3.4'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Sifre123!@#  # Güçlü bir şifre olmalı
    ports:
      - "1433:1433"

  web-app:
    image: hospital-app
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      # Veritabanı adresi olarak container ismi olan 'db'yi veriyoruz
      - ConnectionStrings__DefaultConnection=Server=db;Database=HastaneDb;User Id=sa;Password=Sifre123!@#;TrustServerCertificate=True
    ports:
      - "5000:8080"
    depends_on:
      - db