@page "/doktor-duzenle/{Id:int}"

@using SAT242516005.Data
@using Microsoft.EntityFrameworkCore
@using SAT242516005.Models.MyDbModels.Entities


@inject MyDbContext db
@inject NavigationManager NavigationManager

<div class="container mt-3">
    <h3>Doktor Bilgilerini Güncelle</h3>

    @if (doktor == null)
    {
        <div class="alert alert-warning">Doktor bilgileri yükleniyor...</div>
    }
    else
    {
        <EditForm Model="doktor" OnValidSubmit="UpdateDoktor">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label class="form-label">Ad</label>
                <InputText class="form-control" @bind-Value="doktor.Ad" />
            </div>

            <div class="mb-3">
                <label class="form-label">Soyad</label>
                <InputText class="form-control" @bind-Value="doktor.Soyad" />
            </div>

            <div class="mb-3">
                <label class="form-label">Branş</label>
                <InputText class="form-control" @bind-Value="doktor.Brans" />
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-success me-2">
                    Güncelle
                </button>

                <button type="button" class="btn btn-secondary" @onclick="Cancel">
                    İptal
                </button>
            </div>
        </EditForm>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }
    private Doktor? doktor;

    protected override async Task OnParametersSetAsync()
    {
        doktor = await db.Doktorlar
                         .FirstOrDefaultAsync(d => d.DoktorId == Id);

        if (doktor == null)
        {
            NavigationManager.NavigateTo("/doktor-liste");
        }
    }

    private async Task UpdateDoktor()
    {
        db.Doktorlar.Update(doktor!);
        await db.SaveChangesAsync();
        NavigationManager.NavigateTo("/doktor-liste");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/doktor-liste");
    }
}
